.mernt {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;

  &-main {
    display: flex;
    flex-direction: column-reverse;

    @include responsive(t-xs) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }

  &-wrapper {
    @include responsive(t-xs) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &-stack {
    margin-bottom: 32px;
    position: relative;

    @include responsive(t-xs) {
      grid-area: 1 / 2 / 2 / 3;
      margin-bottom: 0;
    }

    &-item {
      align-items: center;
      aspect-ratio: 1.65;
      cursor: pointer;
      display: flex;
      height: auto;
      justify-content: center;
      opacity: 0.5;
      transition: 0.25s opacity ease-in-out,
        0.15s transform ease-in-out;
      width: 100%;

      &-motion {
        position: relative;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            top: calc(86px + $i * 86px * -1);
            z-index: 5 - $i;
          }
        }

        @include responsive(s-xs) {
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              top: calc(96px + $i * 96px * -1);
              z-index: 5 - $i;
            }
          }
        }

        @include responsive(s) {
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              top: calc(124px + $i * 124px * -1);
              z-index: 5 - $i;
            }
          }
        }

        @include responsive(s-xl) {
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              top: calc(156px + $i * 156px * -1);
              z-index: 5 - $i;
            }
          }
        }

        @include responsive(t-xs) {
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              top: calc(56px + $i * 96px * -1);
              z-index: 5 - $i;
            }
          }
        }

        @include responsive(t) {
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              top: calc(86px + $i * 124px * -1);
              z-index: 5 - $i;
            }
          }
        }
      }

      &-background {
        filter: drop-shadow(
          1px 5px 11px $drop-shadow-color
        );
        fill: $black;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }

      &-icon {
        background: $white;
        border-radius: 50%;
        display: block;
        height: 96px;
        opacity: 0.75;
        padding: 8px;
        position: relative;
        transition: 0.25s opacity ease-in-out;
        width: 96px;
        z-index: 1;

        @include responsive(s-xl) {
          height: 124px;
          width: 124px;
        }

        @include responsive(t-xs) {
          height: 96px;
          width: 96px;
        }

        @include responsive(t) {
          height: 124px;
          width: 124px;
        }
      }

      &:hover,
      &-hover,
      &-open {
        opacity: 1;

        .mernt-stack-item {
          &-icon {
            opacity: 1;
          }
        }
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
