.network-loader {
  align-items: flex-end;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;

  &-bar {
    animation: network-loader-animation 1s
      ease-in-out infinite;
    background: $primary-color;
    border-radius: 5px;
    height: 20%;
    margin: 0 5px;
    transition: 0.25s background ease-in-out;
    width: 14px;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
    }
  }

  &-tiny {
    height: 32px;

    .network-loader {
      &-bar {
        width: 12px;
      }
    }
  }
}
