.banner {
  align-items: center;
  background: $black;
  bottom: -156px;
  display: flex;
  left: 0;
  padding: 24px 32px;
  position: absolute;
  transform: rotate(-4deg);
  transform-origin: left bottom;
  width: max-content;

  @include responsive(t-xs) {
    bottom: -200px;
  }

  &-container {
    align-items: center;
    display: flex;
  }

  &-icon {
    fill: $primary-color;
    height: 24px;
    margin: 0 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;

    @include responsive(t-xs) {
      height: 28px;
      margin: 0 32px;
      min-height: 28px;
      min-width: 28px;
      width: 28px;
    }
  }

  &-word {
    color: $white;
    font-size: 16px;
    text-transform: uppercase;

    @include responsive(t-xs) {
      font-size: 20px;
    }
  }
}
