.customers {
  &-wrapper {
    display: flex;
  }

  &-item {
    align-items: center;
    border: 2px solid $black;
    cursor: pointer;
    display: flex;
    height: 72px;
    justify-content: center;
    margin: 0 auto;
    max-width: 250px;
    text-decoration: none;
    transition: 0.25s background ease-in-out,
      0.15s transform ease-in-out;
    width: 100%;

    &:hover {
      background: $black;

      .customers-item {
        &-icon {
          background: $white;
        }

        &-name {
          color: $white;
        }
      }
    }

    &:active {
      transform: scale(0.925);
    }

    &-motion {
      width: 100%;
    }

    &-icon {
      border-radius: 50%;
      height: 24px;
      margin-right: 8px;
      transition: 0.25s background ease-in-out;
      width: 24px;
    }

    &-name {
      transition: 0.25s color ease-in-out;
    }
  }
}
