.customers {
  &-title {
    margin-bottom: 12px;
    text-align: center;
  }

  &-subtitle {
    margin-bottom: 32px;
    text-align: center;
    text-transform: uppercase;
  }

  &-wrapper {
    display: flex;
  }

  &-item {
    align-items: center;
    border: 2px solid $black;
    display: flex;
    height: 72px;
    justify-content: center;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;

    &-icon {
      height: 24px;
      margin-right: 8px;
      width: 24px;
    }

    &-name {
    }
  }
}
