.details {
  margin: 0 auto;
  max-width: 1000px;

  @include responsive(t-xs) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &-titles {
    display: flex;
    flex-direction: column-reverse;

    @include responsive(t-xs) {
      grid-area: 1 / 1 / 2 / 2;
      justify-content: start;
      margin-right: 32px;
    }
  }

  &-title {
    font-size: 34px;
    margin-bottom: 32px;

    @include responsive(t-xs) {
      font-size: 42px;
    }
  }

  &-name {
    color: $dark;
    font-size: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;

    &-logo {
      fill: $primary-color;
      height: 24px;
      position: relative;
      top: 4px;
      width: 24px;
    }
  }

  &-info {
    margin-bottom: 32px;

    &-title {
      font-size: 24px;
      margin-bottom: 24px;

      @include responsive(t-xs) {
        margin-bottom: 0;
      }
    }

    &-text {
      color: $dark;
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 48px;
      }
    }

    &-wrapper {
      @include responsive(s-xs) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include responsive(t-xs) {
        grid-area: 1 / 2 / 2 / 3;
      }
    }

    &-item {
      margin-bottom: 12px;

      &-title {
        color: $primary-color;
        font-size: 14px;
        margin-bottom: 6px;
        text-transform: uppercase;

        @include responsive(t-xs) {
          font-size: 16px;
        }
      }

      &-text {
        font-family: $secondary-font-bold;
        font-size: 18px;

        @include responsive(t-xs) {
          font-size: 20px;
        }
      }
    }
  }

  &-article {
    border: 2px solid $black;
    margin-bottom: 24px;

    @include responsive(s-xl) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }

    @include responsive(t-xs) {
      grid-area: 2 / 1 / 3 / 3;
    }

    &-item {
      cursor: pointer;
      padding: 24px;
      transition: 0.25s background ease-in-out;

      &:nth-child(2n) {
        background: $black;
        border-left: 2px solid $black;
        border-right: 2px solid $black;

        .details-article-item {
          &-stat,
          &-title {
            color: $white;
          }
        }

        &:hover {
          .details-article-item {
            &-stat,
            &-title {
              color: $black;
            }
          }
        }
      }

      &:hover {
        background: $primary-color;

        .details-article-item {
          &-stat,
          &-title {
            color: $white;
          }
        }
      }

      &-stat,
      &-title {
        text-align: center;
        transition: 0.25s color ease-in-out;
      }

      &-stat {
        font-size: 34px;
        margin-bottom: 12px;

        @include responsive(t-xs) {
          font-size: 42px;
        }
      }

      &-title {
        font-size: 18px;
        text-transform: uppercase;

        @include responsive(s-xl) {
          font-size: 14px;
        }

        @include responsive(t-xs) {
          font-size: 18px;
        }
      }
    }
  }

  &-download {
    align-items: center;
    background: $primary-color;
    border: 2px solid $primary-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    text-decoration: none;
    transition: 0.15s transform ease-in-out,
      0.25s background ease-in-out;
    width: 100%;

    @include responsive(t-xs) {
      grid-area: 3 / 1 / 4 / 3;
    }

    &-icon {
      fill: $white;
      height: 28px;
      margin-right: 12px;
      transition: 0.25s fill ease-in-out;
      width: 28px;

      @include responsive(s-xl) {
        height: 32px;
        width: 32px;
      }
    }

    &-text {
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
      transition: 0.25s color ease-in-out;

      @include responsive(s-xl) {
        font-size: 22px;
      }
    }

    &:hover {
      background: $white;

      .details-download {
        &-icon {
          fill: $primary-color;
        }

        &-text {
          color: $primary-color;
        }
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
