.intro {
  margin-bottom: 196px;
  position: relative;

  @include responsive(t-xs) {
    margin-bottom: 256px;
  }

  &-main {
    margin: 0 auto;
    max-width: 1000px;
  }

  &-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @include responsive(t-xs) {
      margin-bottom: 48px;
    }

    &-item {
      font-size: 32px;
      text-transform: uppercase;

      @include responsive(s-xl) {
        font-size: 38px;
      }

      @include responsive(t-xs) {
        font-size: 48px;
      }

      &-icon {
        fill: $primary-color;
        height: 40px;
        position: relative;
        top: 8px;
        width: 40px;

        @include responsive(s-xl) {
          height: 48px;
          top: 10px;
          width: 48px;
        }

        @include responsive(t-xs) {
          height: 56px;
          top: 12px;
          width: 56px;
        }
      }

      &-strike {
        position: relative;
        text-decoration: none;

        &:after {
          background: $black;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
    }
  }

  &-keywords {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include responsive(t-xs) {
      margin-bottom: 48px;
    }

    &-title {
      font-size: 18px;
      text-transform: uppercase;

      @include responsive(s-xl) {
        font-size: 20px;
      }

      @include responsive(t-xs) {
        font-size: 24px;
      }
    }

    &-icon {
      fill: $primary-color;
      margin: 0 8px;
      height: 24px;
      position: relative;
      top: 2px;
      width: 24px;

      @include responsive(t-xs) {
        height: 28px;
        top: 4px;
        width: 28px;
      }
    }
  }

  &-btn {
    border: 2px solid $black;
    display: flex;
    flex-direction: row;

    &:hover {
      .intro-btn-text {
        &:first-child {
          clip-path: polygon(
            100% 0,
            100% 0,
            100% 100%,
            100% 100%
          );
        }
      }
    }

    &-container {
      cursor: pointer;
      display: block;
      font-size: 16px;
      position: relative;
      width: fit-content;

      &:first-child {
        .intro-btn-text {
          &:first-child {
            background: $black;
            color: $white;
          }

          &:last-child {
            background: $primary-color;
            color: $black;
          }
        }
      }

      &:last-child {
        .intro-btn-text {
          &:first-child {
            background: $white;
            color: $black;
          }

          &:last-child {
            background: $black;
            color: $white;
          }
        }
      }
    }

    &-text {
      display: block;
      font-size: 14px;
      padding: 12px 24px;

      @include responsive(s-xs) {
        font-size: 16px;
      }

      @include responsive(s-xl) {
        font-size: 18px;
      }

      @include responsive(t-xs) {
        font-size: 20px;
      }

      &:first-child {
        border: 0;
        clip-path: polygon(
          0 0,
          100% 0,
          100% 100%,
          0% 100%
        );
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: 0.25s clip-path ease-in-out;
        z-index: 1;
      }
    }
  }
}
