.home-agency {
  &-article {
    &-top {
      margin-bottom: 24px;
    }

    &-bottom {
      border: 2px solid $black;
      border-radius: 4px;
      display: flex;

      div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px;
        width: calc(100% / 3);

        &:nth-child(2n) {
          background: $black;

          span {
            color: $white;
          }
        }

        span {
          text-align: center;
          text-transform: uppercase;

          &:first-child {
            font-family: $secondary-font-bold;
            font-size: 24px;
          }
        }
      }
    }
  }

  &-block {
    &-title {
      margin-bottom: 24px;

      p {
        color: $grey;
        margin-bottom: 12px;
        text-transform: uppercase;

        svg {
          fill: $primary-color;
          height: 24px;
          position: relative;
          top: 6px;
          width: 24px;
        }
      }

      h2 {
        font-size: 24px;
      }
    }

    &-text {
      p {
        &:first-child {
          font-size: 18px;
          margin-bottom: 12px;
        }

        &:nth-child(2) {
          color: $grey;
          font-size: 14px;
          margin-bottom: 12px;
        }
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          color: $primary-color;
          font-size: 12px;
          margin-bottom: 4px;
          text-transform: uppercase;
        }
      }
    }
  }
}
