.article-url {
  &-img {
    height: 256px;
    object-fit: cover;
    width: 100%;

    @include responsive(t-xs) {
      height: 356px;
    }
  }

  &-main {
    margin: 0 auto;
    max-width: 1000px;
  }

  &-title {
    font-size: 30px;
    margin: 32px 0;
    max-width: 750px;

    @include responsive(s-xl) {
      font-size: 34px;
    }

    @include responsive(t-xs) {
      font-size: 38px;
    }
  }

  &-details {
    display: flex;
    justify-content: space-between;
    max-width: 500px;

    &-item {
      display: flex;
      flex-direction: column;

      &-title {
        color: $dark;
        margin-bottom: 6px;
      }

      &-value {
        color: $primary-color;
      }
    }
  }

  &-content {
    margin-bottom: 32px;

    @include responsive(s-xl) {
      margin-bottom: 48px;
    }

    h3 {
      font-size: 22px;
      margin: 32px 0 12px;

      @include responsive(s-xl) {
        font-size: 24px;
      }

      @include responsive(t-xs) {
        font-size: 26px;
      }
    }
  }
}
