.project-item {
  cursor: pointer;
  text-decoration: none;

  @include responsive(s-xl) {
    display: flex;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;

      .project-item {
        &-content {
          margin-left: 0;
          margin-right: 24px;
        }
      }
    }
  }

  &:hover {
    .project-item {
      &-img {
        transform: scale(1.15);
      }

      &-category {
        &-light {
          clip-path: polygon(
            100% 0,
            100% 0,
            100% 100%,
            100% 100%
          );
        }
      }

      &-cta {
        &-text {
          &:after {
            width: 0;
          }
        }

        &-arrow {
          margin-left: 24px;

          @include responsive(t-xs) {
            margin-left: 32px;
          }
        }
      }
    }
  }

  &-cover {
    display: block;
    height: 260px;
    margin-bottom: 24px;
    overflow: hidden;
    width: 100%;

    @include responsive(s-xl) {
      height: 100%;
      margin-bottom: 0;
      width: 50%;
    }
  }

  &-img {
    height: 100%;
    object-fit: cover;
    transition: 0.25s transform ease-in-out;
    width: 100%;
  }

  &-content {
    @include responsive(s-xl) {
      margin-left: 24px;
      width: calc(50% - 24px);
    }
  }

  &-category {
    font-size: 18px;
    margin-bottom: 12px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;

    &-light,
    &-colored {
      padding: 6px 12px;
    }

    &-light {
      background: $primary-color;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0% 100%
      );
      color: $white;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: 0.25s clip-path ease-in-out;
      z-index: 1;
    }

    &-colored {
      color: $primary-color;
    }

    @include responsive(s-xl) {
      margin-bottom: 24px;
    }

    @include responsive(t-xs) {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

  &-title {
    margin-bottom: 12px;

    @include responsive(s-xl) {
      margin-bottom: 24px;
    }

    @include responsive(t-xs) {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  &-cta {
    align-items: center;
    display: flex;
    width: fit-content;

    @include responsive(s-xl) {
      margin-bottom: 24px;
    }

    &-text {
      font-family: $secondary-font-regular;
      font-size: 20px;
      position: relative;

      &:after {
        background: $black;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform-origin: right;
        transition: 0.25s width ease-in-out;
        width: 100%;
      }

      @include responsive(t-xs) {
        font-size: 24px;
      }
    }

    &-arrow {
      fill: $black;
      height: 16px;
      margin-left: 12px;
      transform: rotate(180deg);
      transition: 0.25s margin-left ease-in-out;
      width: 16px;

      @include responsive(t-xs) {
        height: 20px;
        margin-left: 16px;
        width: 20px;
      }
    }
  }
}
