.project-url {
  &-img {
    height: 256px;
    object-fit: cover;
    width: 100%;

    @include responsive(t-xs) {
      height: 356px;
    }
  }

  &-main {
    margin: 0 auto;
    max-width: 1000px;
  }

  &-title {
    font-size: 30px;
    margin: 32px 0;
    max-width: 750px;

    @include responsive(s-xl) {
      font-size: 34px;
    }

    @include responsive(t-xs) {
      font-size: 38px;
    }
  }

  &-details {
    display: flex;
    justify-content: space-between;
    max-width: 500px;

    &-item {
      display: flex;
      flex-direction: column;

      &-title {
        color: $dark;
        margin-bottom: 6px;
      }

      &-value {
        color: $primary-color;

        a {
          color: $primary-color;
        }
      }
    }
  }
  &-content {
    margin-bottom: 32px;

    @include responsive(s-xl) {
      margin-bottom: 48px;
    }

    h3 {
      color: $primary-color;
      font-size: 22px;
      margin: 32px 0 12px;

      @include responsive(s-xl) {
        font-size: 24px;
      }

      @include responsive(t-xs) {
        font-size: 26px;
      }
    }

    p {
      margin-bottom: 24px;
    }

    a {
      color: $primary-color;
      text-decoration: underline $primary-color;
    }

    figure {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 32px auto 48px;
      max-width: 100%;

      img {
        margin-bottom: 12px;
        width: 100%;
      }

      figcaption {
        line-height: normal;
        font-family: $secondary-font-medium;
        font-size: 18px;
        text-align: center;
      }
    }

    ul {
      li {
        padding-left: 24px;
        position: relative;
        margin-bottom: 12px;

        &:before {
          background: $primary-color;
          border-radius: 50%;
          content: "";
          height: 6px;
          left: 6px;
          position: absolute;
          top: 8px;
          width: 6px;
        }
      }
    }
  }
}
