.footer {
  background: $black;

  &-wrapper {
    margin: 0 auto;
    max-width: 1000px;

    @include responsive(t-xs) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 64px;
    }
  }

  &-brand {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;

    &-motion {
      align-items: center;
      display: flex;
      margin-bottom: 24px;

      @include responsive(t-xs) {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 0;
      }
    }

    &-logo {
      fill: $primary-color;
      height: 32px;
      margin-right: 8px;
      transition: 0.25s transform ease-in-out;
      width: 32px;
    }

    &-title {
      color: $white;
      font-size: 20px;
      transition: 0.25s color ease-in-out,
        0.25s transform ease-in-out;
    }

    &:hover {
      .footer-brand {
        &-logo {
          transform: scale(1.2);
        }

        &-title {
          color: $primary-color;
        }
      }
    }

    &:active {
      .footer-brand {
        &-logo,
        &-title {
          transform: scale(0.9);
          transition: 0.15s transform ease-in-out;
        }
      }
    }
  }

  &-outro {
    margin-bottom: 24px;

    @include responsive(t-xs) {
      grid-area: 1 / 2 / 2 / 3;
      margin-bottom: 0;
    }

    &-text {
      color: $white;
      font-size: 14px;
      max-width: 500px;
    }
  }

  &-social-link {
    align-items: center;
    display: flex;
    margin-bottom: 24px;

    @include responsive(t-xs) {
      grid-area: 2 / 1 / 3 / 2;
      margin-bottom: 0;
    }

    &-item {
      border: 1px solid $white;
      border-radius: 50%;
      display: flex;
      fill: $white;
      height: 20px;
      margin-right: 24px;
      padding: 12px;
      transition: 0.25s border ease-in-out,
        0.25s fill ease-in-out,
        0.25s transform ease-in-out;
      width: 20px;

      & > svg {
        transition: 0.25s transform ease-in-out;
      }

      &:hover {
        border: 1px solid $primary-color;
        fill: $primary-color;
        & > svg {
          transform: scale(1.2);
        }
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &-copyright {
    align-items: center;
    display: flex;

    @include responsive(t-xs) {
      grid-area: 2 / 2 / 3 / 3;
    }

    &-icon {
      fill: $white;
      height: 14px;
      margin-right: 8px;
      position: relative;
      top: -0.5px;
      width: 14px;
    }

    &-text {
      color: $white;
      font-size: 14px;
    }
  }

  &-legal-notice {
    color: $white;
    position: relative;
    font-family: $secondary-font-bold;
    text-decoration: none;
    transition: 0.25s color ease-in-out;

    &:after {
      background: $primary-color;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transition: 0.25s width ease-in-out;
      width: 0;
    }

    &:hover {
      color: $primary-color;

      &:after {
        width: 100%;
      }
    }
  }
}
